<!--build:css(src) css/style.min.css-->
<link rel="stylesheet" href="css/style.css">
<!--endbuild-->

<div class="ad-<%= _.slugify(name) %>-container">
  <a href="<%%= clickTracker %><%%= clickTag %>">
    <img src="http://www.placehold.it/<%= width %>x<%= height %>" />
  </a>
</div>

<script>
  window.jQuery || document.write('<script src="http://js.washingtonpost.com/wpost/js/combo?token=20121010232000&c=true&m=true&context=eidos&r=/jquery-1.7.1.js"><\/script>');
</script>
<script>
  var wpAd = wpAd || {};
  (function($){
    'use strict';

    //Ad config
    var config = {
      adid: parseInt('%eaid!', 10) || false,
      clickTracker: '<%%= clickTracker %>',
      clickTrackerEsc: '<%%= clickTrackerEsc %>',
      clickTag: '<%%= clickTag %>'
      //add custom config here:

    };

  })(window.jQuery);
</script>

<!--build:js js/main.min.js-->
<script src="js/main.js" async></script>
<!--endbuild-->
